 <br>
<div class="container-fluid">

  <div class="span">
    <img src="../assets/images/lappy.jpeg" style="width:70%"/>
  </div>

  <div class="content-heading">
    <h1 style="margin-left:50px;color:violet ">Contact Our</h1>
    <h2>Customer Support Center</h2>
  </div>
<br>
<br>
  <div style="padding:2%;">
    <h2 style="text-align: center;">Contact Information</h2>
    <p style="text-align: center;">Please fill out your contact information below.</p>
  </div>

  <form [formGroup]="registrationform" (submit)="onSubmit()" class="frm">

    <div class="form-group col">
      <label class="control-label required" for=Name>Name</label>
      <div class="row">
        <div class="col">
          <input [class.is-invalid]="f.FirstName.invalid && f.FirstName.touched" formControlName="FirstName"
          type="text" class="form-control" placeholder="">First Name
          <small class="text-danger" [class.d-none]="f.FirstName.valid || f.FirstName.untouched">
            First Name is required.
          </small>
        </div>
        <div class="col">
          <input [class.is-invalid]="f.LastName.invalid && f.LastName.touched" formControlName="LastName"
          type="text" class="form-control" placeholder="">Last Name
          <small class="text-danger" [class.d-none]="f.LastName.valid || f.LastName.untouched">
            Last Name is required.
          </small>
        </div>
      </div>
    </div>

    <div class="form-group col">
      <label class="control-label required" for=Email>Email</label>
      <input [class.is-invalid]="f.Email.invalid && f.Email.touched" formControlName="Email"
      type="email" class="form-control" placeholder="">
      <div *ngIf="(f.Email.invalid && f.Email.touched) || f.Email.dirty">
        <small *ngIf="f.Email.errors?.required" class="text-danger">Email is required</small>
        <small *ngIf="f.Email.errors?.pattern" class="text-danger">Please provide valid email address</small>
      </div>
    </div>

    <div class="form-group col">
      <label class="conttrol-label required" for=Phone>Phone</label>
      <input [class.is-invalid]="f.Phone.invalid && f.Phone.touched"
      formControlName="Phone" type="text" class="form-control" placeholder="">
      <div *ngIf="(f.Phone.invalid && f.Phone.touched) || f.Phone.dirty">
        <small *ngIf="f.Phone.errors?.required" class="text-danger">Phone Number is required</small>
        <small *ngIf="f.Phone.errors?.pattern" class="text-danger">Phone Number must be 10 digit</small>

      </div>
    </div>

    <div class="form-group col">
      <label class="control-label required" for=Address>Address</label>
      <input [class.is-invalid]="f.Address.invalid && f.Address.touched" formControlName="Address"
      type="text" class="form-control" placeholder="">
      <small class="text-danger" [class.d-none]="f.Address.valid || f.Address.untouched">
        Address is required.
      </small>
    </div>

    <div class="form-group col">
      <button type="submit" [disabled]="!registrationform.valid" class="btn btn-primary">SUBMIT</button>
    </div>

  </form>
 <!-- {{registrationform.value | json}}-->
</div>





